<h1>Test Sessions</h1>

<div class="clearfix">
  <div class="float-left">

    <form class="form-inline">
      <input class="form-control" [formControl]="findText" type="text" placeholder="Participant #"/>
    </form>

  </div>
  <div class="float-right">

    <app-admin-links></app-admin-links>


  </div>

</div>

<div class="clearfix download-link">
  <div class="float-right">
    <a href="/api/admin/face-test-summary.csv" target="_blank"><i class="fas fa-download"></i></a>
    <a href="/api/admin/face-test-summary.csv" target="_blank">Test Summary</a>

    &nbsp; | &nbsp;

    <a href="/api/admin/face-test-samples.csv" target="_blank"><i class="fas fa-download"></i></a>
    <a href="/api/admin/face-test-samples.csv" target="_blank">Test Samples</a>

  </div>
</div>



<app-test-session-table [testSessions]="testSessions" (delete)="deleteTest($event)"></app-test-session-table>

