h1 {
  margin-bottom: 30px;
}

form {
   margin-bottom: 30px;
}

div.download-link {
   margin-bottom: 10px;
}


table {
   tr > td {

     button.btn { border: 1px solid #999; cursor: pointer; }

     a { text-decoration: underline; cursor: pointer; }
   }
}
