<h1>Test Sessions</h1>

<div class="clearfix">
  <div class="float-left">

    <form class="form-inline">
      <input class="form-control" [formControl]="findText" type="text" placeholder="Patient #"/>
    </form>

  </div>
  <div class="float-right">

    <app-admin-links></app-admin-links>


  </div>

</div>

<div class="clearfix download-link">
  <div class="float-right">
    <a href="/api/admin/face-test-summary.csv" target="_blank"><i class="fas fa-download"></i></a>
    <a href="/api/admin/face-test-summary.csv" target="_blank">Test Summary</a>

    &nbsp; | &nbsp;

    <a href="/api/admin/face-test-samples.csv" target="_blank"><i class="fas fa-download"></i></a>
    <a href="/api/admin/face-test-samples.csv" target="_blank">Test Samples</a>

  </div>
</div>



<table class="table table-striped table-hover">
  <thead>
  <tr>

    <th>Patient #</th>
    <th>Test #</th>
    <th>Week</th>
    <th>Time</th>
    <th>Correct #</th>
    <th>In-Correct #</th>
    <th>% Correct</th>
    <th>Avg Resp ms</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let test of testSessions" >

    <td><a (click)="fetchTestSessions(test.patientId)">{{test.patientId}}</a></td>
    <td>{{test.testNumber}}  <a [routerLink]="['../', 'detail', test._id ]"><i class="fas fa-eye"></i></a></td>
    <td>{{test.level}}</td>
    <td>{{test.startTime | date: 'M/d/yyyy hh:mm aa' }}</td>
    <td>{{test.correctCount}}</td>
    <td>{{test.incorrectCount}}</td>
    <td>{{test.percentCorrect}}</td>
    <td>{{test.averageResponseMilli}}</td>
    <td>
      <button class="btn btn-default" (click)="deleteTest(test)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>


