
<div class="face-wrapper">

  <div class="header">

    <div class="accuracy" *ngIf="accuracy != null">
      {{accuracy}} %
    </div>


    <div class="sample-counter" *ngIf="samples.length">
      {{samples.length}} of {{sampleCount}}
    </div>

  </div>

  <div *ngFor="let f of faces; index as i" id="f{{i}}" [class]="classForIndex(i)">

    <app-face
      [image]="leftImage"
      [showFaces]="showFaces"
      [canClick]="canClick"
      [showDot]="showDotLeft"
      [showCorrect]="showCorrectLeft"
      [showIncorrect]="showIncorrectLeft"
      (clicked)="clickLeft()"
    >
    </app-face>

    <div class="plus">
      +
    </div>

    <app-face
      [image]="rightImage"
      [showFaces]="showFaces"
      [canClick]="canClick"
      [showDot]="showDotRight"
      [showCorrect]="showCorrectRight"
      [showIncorrect]="showIncorrectRight"
      (clicked)="clickRight()"
    >
    </app-face>

</div>

<app-portrait-message></app-portrait-message>

