<div class="page-wrapper">

  <div class="mood-afraid instruction-cell">

    <p>
      Indicate to what extent you CURRENTLY feel this way: <br>
      <strong>{{mood}}</strong>
    </p>

    <app-mood-buttons (mood)="moodSelected($event)"></app-mood-buttons>

  </div>

</div>

<app-portrait-message></app-portrait-message>

<div class="preload">
  <div *ngFor="let face of faces">
    <img src="assets/faces/{{face.f}}" height="1" width="1" alt="" />
    <img src="assets/faces/{{face.n}}" height="1" width="1" alt="" />
  </div>
</div>
