
<div class="page-wrapper">

    <div *ngIf="session" class="instruction-cell">

        <p>
            Contratulations! You have comleted {{stats.sessionsThisWeek}} out of 6 sessions for this week!
        </p>

        <p>
            You responded with {{session.percentCorrect}}% accuracy and had an average response time of {{session.averageResponseSeconds}} seconds.
        </p>

        <p>
            You have {{stats.sessionsToDo}} sessions to complete this week.
        </p>

        <p>
            You are currently on week {{stats.currentWeek}} of 6 weeks of training.
        </p>

        <ul>
            <li>
                <a [routerLink]="['../pre-test']">Done</a>
            </li>
            <li>
                <a [routerLink]="['../results/chart']">Results</a>
            </li>
            <li>
                <a [routerLink]="['../mood']">Train Again</a>
            </li>
        </ul>


    </div>




</div>

