
div.button-wrapper {
  //border: 1px solid #fff;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  div.button {
     padding: 10px;
     border: 1px solid #999;
     font-size: 14px;
     min-width: 90px;
     border-radius: 4px;
     background-color: #f1f1f1;
     color: #333;
  }
}
