
form {

  margin-bottom: 40px;

  table {
      margin: 0 auto;
      width: 400px;
      th { text-align: left; }
      td, th { padding: 3px 15px 3px 5px; }
      td { text-align: left; }
  }

  label { display: block; margin-bottom: 5px; }

  input { border-radius: 4px; margin-bottom: 5px; }

  input.start-time { max-width: 150px; }
  input.sample-count { max-width: 50px; }

  input[name='level'] { max-width: 30px; }

  button {
      background: #fff;
      color: #000;
  }

}

div.message { color: #CC0000; margin: 5px 0 20px 0; }

div.options {

  ul {
     list-style: none;
     li {
       display: inline; border-right: 1px solid #fff;
       padding: 5px 25px;
       a { color: #fff; }
     }
     li:last-child { border-right: 0; }
  }


}

