<div class="page-wrapper">

  <div class="instruction-cell">

    <form *ngIf="user" #f="ngForm" (ngSubmit)="updateSettings()">

      <table>
        <tr>
          <th>Start: </th>
          <td>
            <input type="text" class="start-time" name="startTime" [(ngModel)]="startTime" disabled />
          </td>
        </tr>
        <tr>
          <th>Level: </th>
          <td>
            <input type="text" name="level" [(ngModel)]="user.level" placeholder="Level" required/>
          </td>
        </tr>
        <tr>
          <th>Control Group: </th>
          <td>
            <input type="checkbox" name="controlVersion" [(ngModel)]="user.controlVersion" />
          </td>
        </tr>
        <tr>
          <th>Restrict Sessions: </th>
          <td>
            <input type="checkbox" name="restrictSessions" [(ngModel)]="user.restrictSessions" />
          </td>
        </tr>
        <tr>
          <th>Sample Size: </th>
          <td>
            <input type="number" class="sample-count" name="sampleCount" [(ngModel)]="sampleCount" required />
          </td>
        </tr>
        <tr>
          <th>X Sample Size: </th>
          <td>
            <input type="number" class="sample-count" name="extraSampleCount" [(ngModel)]="extraSampleCount" required />
          </td>
        </tr>
        <tr>
          <th></th>
          <td>
            <button [disabled]="!f.valid">Update</button>
          </td>
        </tr>
      </table>

    </form>


    <div *ngIf="message" class="message">
      {{message}}
    </div>

    <div class="options">
      <ul>
        <li><a [routerLink]="['../']">Back</a></li>
        <li><a [routerLink]="['/clear']">Clear User</a></li>
      </ul>

    </div>

  </div>


</div>
