
div.page-wrapper.pre-test {

  max-width: 400px;

  div.badge-wrapper {
     text-align: center;
     margin-bottom: 20px;
     img { max-width: 80px; }
  }

  p {
    //max-width: 400px;
  }

  div.options {
    text-align: center;

    div.links {
       margin-bottom: 20px;
       a { display: inline-block; background: #fff; color: #333; border-radius: 4px; boder: 1px solid #999; margin-right: 10px; min-width: 120px; }
       a:last-child { margin-right: 0; }
    }

    a { padding: 3px 20px; margin-bottom: 15px; text-decoration: none; }



  }

  div.error {
      color: #CC0000;
  }

}


