
<div *ngIf="loading" class="page-wrapper">

  <div class="instruction-cell">
        <div class="spinner"></div>
  </div>

</div>


<div *ngIf="error" class="page-wrapper">

  <div class="instruction-cell">

    <div class="error">
      {{error}}
    </div>

  </div>

</div>

<div *ngIf="loading == false" class="page-wrapper pre-test">

  <div class="instruction-cell">


        <div class="options">
            <a [routerLink]="['../prepare']">Start Now</a>
            <a [routerLink]="['../results/chart']">Results</a>
            <a [routerLink]="['../about']">About</a>

            <div *ngIf="user && user.admin">
              <a [routerLink]="['../settings']">Settings</a>
              <a [routerLink]="['/admin/list']">Admin</a>
            </div>

        </div>

    </div>


</div>


