
div.chart-page {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  min-height: 100%;
  text-align: center;

  div.chart-wrapper {
      width: 100%;
      canvas {
          margin: 0 auto;
      }
  }

  div.data-wrapper {
      max-height: 300px;
      width: 100%;
      overflow: auto;
      table {
         margin: 0 auto;
         min-width: 600px;
         td.milli { text-align: right; width: 45px; }
      }
  }


}


div.chart-tabs {

  display: inline-block;
  margin: 5px auto 10px auto;
  background: #f1f1f1;
  color: #333;
  border: 1px solid #999;

  div.tab {
      display: inline-block;

      padding: 5px 10px;
      margin: 0;

      border-right: 1px solid #999;
      min-width: 100px;
      font-size: 12px;
      text-align: center;
  }
  div.tab:hover {
      cursor: pointer;
  }

  div.tab:last-child {
      border-right: 0;
  }


}





a.done {
    position: absolute;
    top: 5px;
    right: 25px;
}
