
<div *ngIf="isLandscape == false">

    <p>
        Please turn to the device to landscape orientation.
    </p>

</div>


<div *ngIf="isLandscape" class="page-wrapper">

        <table *ngFor="let f of faces; index as i" id="f{{i}}" [class]="classForIndex(i)">
            <tr>
                <td class="cell">
                    <img *ngIf="showFaces" src="assets/faces/{{leftImage}}" >
                    <div *ngIf="canClick" class="dot" (click)="clickLeft()">
                        <div *ngIf="showDotLeft" class="dot-wrapper">
                            <div class="dot-cell">
                                <svg height="20" width="20">
                                    <circle cx="10" cy="10" r="10" stroke="black" stroke-width="3" fill="white" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="showCorrectLeft" class="correct">Correct</div>
                    <div *ngIf="showIncorrectLeft" class="not-correct">Incorrect</div>

                </td>
                <td class="plus"> + </td>
                <td class="cell">
                    <img *ngIf="showFaces" src="assets/faces/{{rightImage}}">
                    <div *ngIf="canClick" class="dot" (click)="clickRight()">
                        <div *ngIf="showDotRight" class="dot-wrapper">
                            <div class="dot-cell">
                                <svg height="20" width="20">
                                    <circle cx="10" cy="10" r="10" stroke="black" stroke-width="3" fill="white" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="showCorrectRight" class="correct">Correct</div>
                    <div *ngIf="showIncorrectRight" class="not-correct">Incorrect</div>

                </td>
            </tr>
        </table>
    
</div>


