
div.page-wrapper {
  text-align: center;

  button {
    font-size: 20px;
    background: transparent;
    color: blue;
    border: 0;
  }

  div.message {
    color: red;
    margin-bottom: 30px;
  }

}

