div.face {
  //border: 1px solid #fff;
  flex-basis: auto;
  min-width: 300px;
  min-height: 200px;
  text-align: center;
  flex-grow: 3;
  h3 { margin-top: 170px; }

  div.dot-container {
    min-height: 200px;
    width: 100%;
    //border: 1px solid #fff;

  }

  div.table-wrapper {
    display: table;
    min-height: 200px;
    width: 100%;

    div.table-cell {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }

}

