<div *ngIf="loading" class="page-wrapper loading">

  <div class="instruction-cell">
    <div class="spinner"></div>
  </div>

</div>


<div *ngIf="loading == false" class="face-wrapper">

  <div class="header">

    <div class="accuracy" *ngIf="accuracy != null">
      {{accuracy}} %
    </div>


    <div class="sample-counter" *ngIf="samples.length">
      {{validSamples().length}} of {{sampleCount + extraSampleCount}}
    </div>

  </div>  <!-- // header -->

  <div class="face-set">

      <app-face
        *ngIf="showCorrect == false && showIncorrect == false && showResume == false"
        [level]="user.level"
        [image]="leftImage"
        [showFaces]="showFaces"
        [canClick]="canClick"
        [showShapes]="showShapes"
        [showDot]="showDotLeft"
        [showCorrect]="showCorrectLeft"
        [showIncorrect]="showIncorrectLeft"
        (clicked)="clickLeft()"
      >
      </app-face>

      <div class="plus" *ngIf="showCorrect == false && showIncorrect == false && showResume == false">
        +
      </div>

      <app-face
        *ngIf="showCorrect == false && showIncorrect == false && showResume == false"
        [level]="user.level"
        [image]="rightImage"
        [showFaces]="showFaces"
        [canClick]="canClick"
        [showShapes]="showShapes"
        [showDot]="showDotRight"
        [showCorrect]="showCorrectRight"
        [showIncorrect]="showIncorrectRight"
        (clicked)="clickRight()"
      >
      </app-face>

    <div class="result-wrapper"  *ngIf="showCorrect || showIncorrect">
      <div class="result-cell">

        <p *ngIf="showCorrect" class="correct">Correct</p>
        <p *ngIf="showIncorrect" class="not-correct">Incorrect</p>

        <div class="response-time" *ngIf="responseTime">
          <h5>Response Time: {{responseTime}}</h5>
        </div>


      </div>
    </div>    <!-- // result-wrapper -->

    <div class="resume-wrapper" *ngIf="showResume">

      <div class="resume-cell">

          <p>Session Timed Out</p>

          <button type="button" (click)="resume()">Resume</button>
      </div>

    </div>  <!-- // resume-wrapper -->

  </div>  <!-- // face-set -->
</div>   <!-- // face-wrapper -->

