<div class="page-wrapper prepare">

  <div class="instruction-cell">

    <div class="content">

      <p>
        Please try your best to concentrate on the task. Your performance may be compared anonymously with other participants' performance at a later time.
      </p>

      <p>
        Focus your gaze on the cross.  You will briefly see two faces.
        Tap the half of the screen where the dot appears next
        as promptly as you can!
      </p>

      <button type="button" (click)="next()">Next &#187;</button>

    </div>


  </div>


</div>
