div.instruction-cell {
  padding: 30px;
  display: table-cell;
  vertical-align: middle;
  color: #fff;

  strong {
    font-size: 2em;
  }
}

div.preload {
  position: absolute;
  top: -9999px;
  left: -9999px;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
