
div.page-wrapper {
    display: table;
}


ul {
  display: inline-block;
  list-style: none;
  li {
    display: inline;
    a { padding: 5px 20px; background: #fff; color: #333; border: 1px solid #999; border-radius: 4px; min-width: 120px; display: inline-block; }
  }
}
