<div class="page-wrapper pre-test">

    <div class="instruction-cell">

        <p>
            Focus your gaze on the cross.  You will briefly see two faces.
            Tap the half of the screen where the dot appears next
            as promptly as you can!
        </p>

        <div class="options">
            <a [routerLink]="['../mood']">Start Now</a>
            <a [routerLink]="['../results-list']">Results</a>
            <a [routerLink]="['../about']">About</a>

            <div *ngIf="user && user.admin">
              <a [routerLink]="['../settings']">Settings</a>
              <a [routerLink]="['/admin/list']">Admin</a>
            </div>

        </div>

    </div>


</div>
