
div.page-wrapper {

   form {
       max-width: 300px;
       margin: 0 auto;

       input {
          margin-bottom: 20px;
          font-size: 20px;
          border-radius: 4px;
       }

        button {
            color: #333;
            border-radius: 4px;
            background: #f1f1f1;
            border: 0;
            font-size: 16px;
            padding: 5px 15px;
        }
        button:hover {
            cursor: pointer;
        }

        div.message {
            color: #CC0000;
            background: #FFF;
            padding: 5px 20px;
            border: 1px solid #999;
            border-radius: 4px;
            margin-bottom: 20px;
        }

   }

}
