
<div class="page-wrapper">


    <div class="instruction-cell">
        <h3>Participant Number</h3>

        <form #f="ngForm" (ngSubmit)="submit(f.value)">

            <input type="text" name="participantId" ngModel placeholder="Enter Participant #" required />

            <br>

          <h4>PIN</h4>

          <input type="password" name="pin" ngModel placeholder="PIN" required />

          <br>

          <div *ngIf="message" class="message">
            {{message}}
          </div>

            <button [disabled]="!f.valid">Update</button>

        </form>
    </div>

</div>

