<div class="badges" *ngIf="badge">

  <span>Your Badges:</span>

  <img src="/assets/badges/1.png" *ngIf="hasBadge(1)" alt="Badge 1" />
  <img src="/assets/badges/2.png" *ngIf="hasBadge(2)" alt="Badge 2" />
  <img src="/assets/badges/3.png" *ngIf="hasBadge(3)" alt="Badge 3" />
  <img src="/assets/badges/4.png" *ngIf="hasBadge(4)" alt="Badge 4" />
  <img src="/assets/badges/5.png" *ngIf="hasBadge(5)" alt="Badge 5" />
  <img src="/assets/badges/6.png" *ngIf="hasBadge(6)" alt="Badge 6" />


</div>
