<div class="page-wrapper">

    <div class="instruction-cell">

        <p>
            Focus your gaze on the cross.  You will briefly see two faces.
            Tap the half of the screen where the dot appears next
            as promptly as you can!
        </p>

        <div class="options">
            <a [routerLink]="['../test']">Start Now</a>
            <a [routerLink]="['../results-list']">Results</a>
            <a [routerLink]="['../about']">About</a>
        </div>

    </div>

</div>