
div.page-wrapper {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #000;
   color: #fff;
   text-align: center;

  
   form {
       max-width: 300px;
       margin: 0 auto;

       input {
          margin-bottom: 20px;
          font-size: 20px;
          border-radius: 4px;
       }

        button {
            color: #fff;
            background: transparent;
            border: 0;
            font-size: 20px;
        }
        button:hover {
            cursor: pointer;
        }

   }

}