<div class="page-wrapper">

  <div class="instruction-cell">

    <form *ngIf="user" #f="ngForm" (ngSubmit)="updateSettings()">

      <div class="group">
        <label>Start Date</label>
        <div>
          <input type="text" class="start-time" name="startTime" [(ngModel)]="startTime" disabled />
        </div>
      </div>


      <div class="group">
        <label>Level</label>
        <input type="text" name="level" [(ngModel)]="user.level" placeholder="Level" required/>
      </div>

      <div class="group">
        <label>Control Group</label>
        <input type="checkbox" name="controlVersion" [(ngModel)]="user.controlVersion" />
      </div>

      <div class="group">
        <label>Sample Size</label>
        <input type="text" class="sample-count" name="sampleCount" [(ngModel)]="sampleCount" />
      </div>

      <div class="group">
        <button [disabled]="!f.valid">Update</button>
      </div>

    </form>

    <div *ngIf="message" class="message">
      {{message}}
    </div>

    <div class="options">
      <ul>
        <li><a [routerLink]="['../']">Back</a></li>
        <li><a [routerLink]="['../clear']">Clear User</a></li>
      </ul>

    </div>

  </div>


</div>
