/* You can add global styles to this file, and also import other style files */

body {
    font-family: Helvetica, Arial, SansSerif;
    background: #000;
    color: #fff;
}

a { color: blue; }

div.app-wrapper {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.page-wrapper {
    display: table;
    height: 100%;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

div.instruction-cell {
    display: table-cell;
    vertical-align: middle;
}


